<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Ma Maison</span>
    <span class="example-spacer"></span>
    <span>
      <button mat-button [routerLink]="'products'">Mes produits</button>
    </span>
    <span class="example-spacer"></span>
    <span class="nav-item">
      <button mat-button [routerLink]="'shoppings'">Ma liste de courses</button>
    </span>
    <span class="example-spacer"></span>

    <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
      <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
      <a class="nav-link" routerLink="auth/signin">Connexion</a>
    </li>
    <li class="nav-item" *ngIf="authService.user | async">
      <a class="nav-link" (click)="onSignOut()"
          style="cursor:pointer"
          *ngIf="isAuth">Déconnexion</a>
    </li>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div *ngFor="let room of rooms" >
       <button mat-button  (click)="onRoomChange(room.id)">{{room.name}}</button>
     </div>
  </mat-toolbar-row>
</mat-toolbar>


